#body-wrapper,#cta,#banner .more,#banner-intro {
    display: none !important;
}

#noscript-message {
    display: block !important;
}

footer {
    position: absolute !important;
    bottom: 0 !important;
}

#banner {
    background-image: none !important;
}